<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Week07 - Workshop03 Image Filtering</title>
	<style>
		.hide {
			display: none;
		}
		canvas {
			border: 1px solid black;
			position: relative;
		}
	</style>
	<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.177.0/build/three.module.js",
			"three/addons/": "https://cdn.jsdelivr.net/npm/three@0.177.0/examples/jsm/",
			"cg-module": "{{ url_for('static', filename='cg-module.js') }}"
		}
	}
	</script>
	<script type="module" src="{{ url_for('static', filename='workshop03.js') }}"></script>
</head>
<body>
	<input type="file" id="imageFile" accept="image/*" placeholder="Select an image file" /><br>
	<img id="imageSrc" class="hide" alt="">
	<img id="imageDes" class="hide" alt="">
	<div id="before">
		<p>ภาพต้นฉบับ</p>
		<canvas id="imageBefore"></canvas>
	</div>
	
	<button type="button" id="send">ส่งไป Backend</button>
	<div id="after">
		<p>ภาพที่ได้กลับมาจาก Backend</p>
		<canvas id="imageAfter"></canvas>
	</div>
</body>
</html>